{% extends 'base.html.twig' %}

{% block title %} {{ app.user.pseudo }} Votre profil{% endblock %}

{% block body %}
{{ dump(recipes) }}
    <h1> Bienvenue {{ app.user.pseudo }}</h1>
 {% if recipes != [] %}
     <div class="container">
         <div class="card-deck justify-content-around">
             {% for recipe in recipes %}
                 <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-4 d-flex">
                     <a href="{{ path("recipe_show", {id:recipe.id}) }}">
                         <div class="card flex-fill">
                             <img class="card-img-top" src="{{ asset('build/images/recettes/meal.jpg') }}" alt="Card image cap">
                             <div class="card-body">
                                 <h5 class="card-title">{{ recipe.title }}</h5>
                             </div>
                         </div>
                     </a>
                 </div>
             {% endfor %}
         </div>
     </div>
 {% else %}
     <div class="container no-recipe">
        <p> Vous n'avez créée aucune recette pour le moment.</p>
     </div>
<div class="d-flex justify-content-center">
     <a class="btn btn-primary">Créer une recette</a>
</div>
 {% endif %}

{% endblock %}
