{% extends 'base.html.twig' %}

{% block title %} {{ recipe.title}} {% endblock %}

{% block body %}
    <h1 class="mb-4"> {{ recipe.title }}</h1>
    <div class="container d-flex justify-content-center flex-column recipe-show">
        <div class="row mb-4">
            <div class=" col-lg-9 col-12 d-flex justify-content-center">
                <img class="img-fluid" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" width="800" height="600" alt="picture of {{ recipe.title }}" >
            </div>
            <div class=" col-lg-3 col-12 ">
                <p><span>Nombre de parts:</span> {{ recipe.numberofperson }}</p>
                <p><span>Complexité:</span> {{ recipe.complexity.name }}</p>
                <p><span>Type de plat:</span> {{ recipe.recipeTypes.name }}</p>
            </div>
        </div>
        <div class="row ingredient-ustensile mt-4 mb-4 justify-content-around">
            <div class="col-lg-4 ingredients">
                <h2 class="mt-2"> Ingrédients</h2>
                <p> {{ recipe.ingredients }}</p>
            </div>
            <div class="col-lg-4 category">
                <h2 class="mt-2">Ustensiles</h2>
                <p> {{ recipe.kitchenutensil }}</p>
            </div>
        </div>
        <div class="row mt-4 category">
        <div class="col-12">
            <h2 class="mt-2"> Les étapes de préparation </h2>
            <p> {{ recipe.instruction }}</p>
        </div>
        </div>
    </div>
{% endblock %}
